/* You can add global styles to this file, and also import other style files */

$font-normal:'Roboto', sans-serif;


@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './app/app.component.scss';
@import './app/components/search/search.component.scss';
@import './app/components/card/card.component.scss';

body {
    font-family: $font-normal;
    margin: 0;
    padding: 0;
}